[user]
    name = Luke Hatcher
    email = lukeman@gmail.com

[core]
    excludesfile = ~/.gitignore

[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
    subtree = !/usr/local/share/git-core/contrib/subtree/git-subtree.sh
