[core]
    editor = subl
    excludesfile = ~/.gitignore
    pager = cat
    quotepath = false

[alias]
    br = branch
    ci = commit
    co = checkout
    df = diff
    lg = log -p
    st = status

[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    frag = magenta bold
    meta = yellow bold
    new = green bold
    old = red bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[merge]
    summary = true
    tool = opendiff

[github]
    user = lukeman
    token = 8abb1f95b7468557242827a7ec8a4483
[user]
	name = Luke Hatcher
	email = lukeman@gmail.com
