.DS_Store
.DS_Store
.pyc
*.pyc
dev.db
*.log
*.pot
local_settings.py
*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
RestKit/Build/*
.DS_Store

